@page "/HandoverDetails"
@page "/Handoverdetails/{id}"
@inherits HandoverDetailsBase

<div class="row">
    <h4 class="col-md-12 text-center text-primary">
        Overdracht details
    </h4>
</div>

<div class="row">
    <div class="col">
    </div>
</div>
