@inherits DashboardComponentBase
<h1 class="text-center dashboard-title">Dashboard</h1>

<hr class="mb-4" />

<HandoverComponent />

<hr class="border border-4 border-dark mt-5" />

<ReportComponent />

<hr class="border border-4 border-dark mt-5" />

<KeyComponent />

<hr class="border border-4 border-dark mt-5" />

<MalfunctionComponent />
