@inherits DashboardComponentBase

<h1 class="text-center dashboard-title">Dashboard</h1>
<hr class="border border-secondary border-1"/>

<HandoverComponent/>
<ReportComponent/>
<KeyComponent/>
<MalfunctionComponent/>
