@inherits HandoverComponentBase
    <h4 class="text-center text-success">Overdracht</h4>

    @if (HandoverService?.Handovers == null)
    {
        <p><em>Loading..</em></p>
    }
    else
    {
        @if (HandoverService.Handovers.Count == 0)
        {
            <div class="text-danger text-center">
                Er zijn geen gegevens gevonden
            </div>
        }

        @foreach (var handover in HandoverService.Handovers)
        {
            <table class="table table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th class="col-md-2">Datum</th>
                        <th class="col-md-4">Titel</th>
                        <th class="col-md-4">Omschrijving</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@handover.DateHandover.ToShortDateString()</td>
                        <td>@handover.Title</td>
                        <td>@handover.Description</td>
                        <td><button class="btn btn-outline-primary"><span class="oi oi-eye"></span></button></td>
                    </tr>
                </tbody>
            </table>
        }
    }
