@inherits MalfunctionComponentBase

<h4 class="text-center text-danger">Storingen</h4>

@if (MalfunctionService?.Malfunctions == null)
{
    <p><em>Loading..</em></p>
}
else
{
    @if (MalfunctionService.Malfunctions.Count == 0)
    {
        <div class="text-danger text-center">
            Er zijn geen gegevens gevonden
        </div>
    }

    @foreach (var malfunction in MalfunctionService.Malfunctions)
    {
        <table class="table text-center">
            <thead class="tbl-bg">
                <tr>
                    <th class="col-md-2">Datum</th>
                    <th class="col-md-4">Soort</th>
                    <th class="col-md-4">Omschrijving</th>
                    <th class="col-md-2">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@malfunction.DateCreated.ToShortDateString()</td>
                    @if(KindofMalfunctionService != null)
                    {
                        <td>@KindofMalfunctionService.KindofMalfunctions.Where(m=>m.Id == malfunction.KindofMalfunctionId).Select(m=>m.Kindof).FirstOrDefault()</td>
                    }      
                    <td>@malfunction.Description</td>
                    <td><button class="btn btn-outline-primary"><span class="oi oi-eye"></span></button></td>
                </tr>
            </tbody>

        </table>
    }

}
