@inherits ReportComponentBase

<h4 class="text-center text-warning">Rapportage</h4>

@if (ReportService?.Reports == null)
{
    <p><em>Loading..</em></p>
}
else
{
    @if (ReportService.Reports.Count == 0)
    {
        <div class="text-danger text-center">
            Er zijn geen gegevens gevonden
        </div>
    }

    @foreach (var report in ReportService.Reports)
    {
        <table class="table table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th class="col-md-2">Datum</th>
                    <th class="col-md-4">Soort</th>
                    <th class="col-md-4">Gebouw</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@report.DateCreated.ToShortDateString()</td>
                    @if(KindofReportService != null)
                    {
                        <td>@KindofReportService.KindofReports.Where(m=>m.Id == report.KindofReportID).Select(m=>m.Name).FirstOrDefault()</td>
                    }               
                    @if(BuildingService != null)
                    {
                        <td>@BuildingService.Buildings.Where(m=>m.Id == report.BuildingID).Select(m=>m.Name).FirstOrDefault()</td>
                    }           
                    <td><button class="btn btn-outline-primary"><span class="oi oi-eye"></span></button></td>
                </tr>
            </tbody>
        </table>
    }
}